*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
	border-bottom: 1px solid gray;
	padding: 10px;
}

.title h1{
	font-weight: bold;
	font-size: 25px;
}
.navbar .controls{
	display: flex;
}
.navbar .controls .one{
	display: flex;
	width: 80vh;
}

.navbar .controls .two #profile{
	border-radius: 50%;
	height: 30px;
	width: 30px;
	max-width: 30px;
	background: black;
}

.navbar .controls .one div{
	font-size: 20px;
	margin-right: 10px;
	padding: 5px;
	border-radius: 10px;
}
.navbar .controls .one div:not(#home){
	color: gray;
}
.navbar .controls .one div:active{
	background-color: black;
	color: white;
}

.card{
	border-bottom: 1px solid gray;
}
.card #username{
	padding: 10px 10px 10px 10px;
	display: flex;
}
#username .info{
	display: flex;
	width: 80vh;
}
#username .info p,
#username .info #user_img{
	margin-right: 5px;
}
#username .info #name{
	font-size: 15px;
	font-weight: bold;
}
#username .info #user_img{
	height: 40px;
	width: 40px;
	background-color: black;
	border-radius: 50%;
}
#username .info i{
	font-size: 15px;
	color: #000066;
}
.card #content #shared #shared_more,
#username .more{
	display: flex;
}
.card #content #shared #shared_more #date,
#username .more #date{
	color: gray;
	font-size: 13px;
	margin-right: 10px;
}
#username .more i{
	font-size: 15px;
}
#username .more i:active{
	color: gray;
}
.card #content{
	padding: 0 15px 15px 15px;
	color: black;
	font-size: 15px;
}
.card #content #shared{
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px;
}
.card #content #shared #shared_info{
	display: flex;
	margin-bottom: 10px;
}
.card #content #shared #user_name #shared_img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 5px;
}
.card #content #shared #user_name{
	display: flex;
	width: 60vh;
}
.card #content #shared #user_name #name{
	font-size: 15px;
	font-weight: bold;
}
.card #content #shared #user_name #date{
	font-size: 13px;
	color: gray;
}

.card #content #shared_content,
.card #content #post_content{
	font-family: Arial, Helvetica, sans-serif;
}

.card #content #shared_content_info{
	display: flex;
	margin-top: 10px;
}
.card #info{
	display: flex;
	padding: 0 10px 10px 10px;
}
.card #content #shared_content_info p,
.card #info p{
	margin-right: 5px;
	color: gray;
	font-size: 13px;
}
.card #actions{
	display: flex;
	padding-left: 10px;
	margin-bottom: 10px;
}
.card #actions div{
	margin-right: 13px;
	font-size: 20px;
}
.card #actions #like{
	color: #990000;
}
.card #actions div:active{
	color: gray;
}